.task-container {
  width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  background: white;
}

.header {
  text-align: center;
  background: #1976d2;
  color: white;
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea, select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 10px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"] {
  background: #1976d2;
  color: white;
}

button[type="button"] {
  background: #f44336;
  color: white;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background: #f2f2f2;
}
:host {
  display: block;
  min-height: 100vh;
 background: linear-gradient(135deg,  #0a3253,#1976d2);
  padding: 20px;
}
