<div class="dashboard-layout">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="logo">Task<span class="highlight">Flow</span></div>
    <ul class="menu">
      <li><a routerLink="/dashboard" routerLinkActive="active"><i class="icon"></i> Dashboard</a></li>
      <li><a routerLink="/users" routerLinkActive="active"><i class="icon"></i> Users</a></li>
      <li><a routerLink="/projects" routerLinkActive="active"><i class="icon"></i> Projects</a></li>
      <li><a routerLink="/boards" routerLinkActive="active"><i class="icon"></i> Boards</a></li>
      <li><a routerLink="/tasks" routerLinkActive="active"><i class="icon"></i> Tasks</a></li>
      <li><a routerLink="/activitylogs" routerLinkActive="active"><i class="icon"></i> ActivityLogs</a></li>
      <li><a routerLink="/logout" routerLinkActive="active"><i class="icon"></i>Logout</a></li>
    </ul>
  </aside>

  <!-- Main Content -->
  <main class="main-content">
    <!-- Navbar -->
    <nav class="navbar">
      <h2 class="navbar-title">Project <span>Dashboard</span></h2>
      <div class="navbar-actions">
        <input type="text" placeholder="Search..." class="search-bar" />
    
        <div class="user-profile">
          <span class="username">Admin/User</span>
        </div>
      </div>
    </nav>

    <!-- Dashboard Widgets -->
    <section class="cards">
      <div class="card">
        <h3>Projects</h3>
        <p class="value">12</p>
        
      </div>
      <div class="card">
        <h3>Tasks </h3>
        <p class="value">84/127</p>
        
      </div>
      <div class="card">
        <h3>Boards</h3>
        <p class="value">24</p>
        
      </div>
      <div class="card">
        <h3>ActivityLogs</h3>
        <p class="value">5</p>
        
      </div>
    </section>

    <!-- Projects Progress -->

  </main>
</div>
